<h1>Places</h1>

  <div class="row">
    <% for place in @places %>
      <div class="col-sm-6 col-md-3">
        <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
      </div>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% end %> 
  </div>
  
  <div class="row">
      <a href="/places/new">New place</a>
  </div>
